body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ------------------------------------------------ css reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------------------------------- end of css reset */

body {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
}

.app {
  height: 550px;
  width: 550px;
  background-color: #f5f7fb;
}

/* ----------------------------------------- Preface component */

.preface {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.preface__h1 {
  color: #293264;
  font-size: calc(31.25rem / 16);
}

.preface__subheading {
  color: #293264;
  font-weight: 400;
  margin-bottom: 30px;
}

.preface__btn {
  line-height: 1;
  padding: 16px 0;
  width: 193px;
  background-color: #4d5b9e;
  color: #f5f7fb;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
}

.preface__btn:focus,
.action__btn:focus {
  outline: none;
}

.preface__btn:active,
.action__btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.blob1 {
  position: absolute;
  right: 0;
  top: 0;
}

.blob2 {
  position: absolute;
  left: 0;
  bottom: 0;
}

/* ----------------------------------------- Action component */

.action {
  position: relative;
  background-color: #f5f7fb;
  height: 100%;
  padding: 15px 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.action__btn {
  font-size: calc(10.24rem / 16);
  line-height: 1;
  padding: 11px 0;
  color: #f5f7fb;
  background-color: #4d5b9e;
  width: 120px;
  border: 0;
  align-self: center;
  border-radius: 10px;
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-msg {
  font-size: calc(12.8rem / 16);
  color: #293264;
  font-weight: 700;
  margin-right: 20px;
}

/* ------------------------------------------- Question component*/

.question {
  z-index: 1000;
}

.question__ask {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  color: #293264;
  font-size: 1rem;
  line-height: 1.15;
  margin-bottom: 10px;
}

.question__options {
  display: flex;
}

hr {
  margin: 0;
  border: #dbdef0 solid .1px;
}

/* --------------------------------------- Answer component*/

.answer {
  min-width: 65px;
  outline: 1px solid #2e86c1;
  line-height: 1;
  border-radius: 7px;
  font-size: calc(10.24rem / 16);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4px;
  margin-bottom: 0;
  cursor: pointer;
}
.answer:hover {
  background-color: #d6eaf8;
}
.answer:not(:last-child) {
  margin-right: 12px;
}

.grey-bcg {
  background-color: lightgrey;
  color: #1c1c1c;
}
.grey-bcg:active {
  box-shadow: none;
}

/* --------------------------- svg classes ----------------------------- */

.your-class1{
  background-repeat: no-repeat;
	background-image: url("data:image/svg+xml, %3Csvg className='preface__blob1' width='194' height='197' viewBox='0 0 194 197' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M99.4095 81.3947C71.1213 50.8508 33.3179 21.7816 37.1727 -19.6933C41.4394 -65.599 75.854 -105.359 118.419 -123.133C158.797 -139.994 206.035 -130.256 241.822 -105.149C271.947 -84.0141 272.823 -43.8756 282.141 -8.27104C292.17 30.0508 318.521 70.8106 296.501 103.779C273.538 138.159 224.991 143.432 183.931 138.768C148.318 134.723 123.751 107.677 99.4095 81.3947Z' fill='%23FFFAD1' /%3E%3C/svg%3E");
}

.your-class2{
  background-repeat: no-repeat;
	background-image: url("data:image/svg+xml, %3Csvg className='preface__blob2' width='148' height='118' viewBox='0 0 148 118' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M-5.55191 4.90596C35.9614 1.77498 82.2425 -9.72149 112.306 19.1094C145.581 51.0203 155.282 102.703 142.701 147.081C130.767 189.18 93.7448 220.092 51.8208 232.476C16.5281 242.902 -15.4332 218.605 -49.1007 203.738C-85.3375 187.737 -133.641 182.993 -145.741 145.239C-158.358 105.868 -132.269 64.5881 -103.064 35.3528C-77.7328 9.99541 -41.2727 7.60006 -5.55191 4.90596Z' fill='%23DEEBF8' /%3E%3C/svg%3E");
}

.your-class3{
  background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,className='preface__blob1' width='162' height='187' viewBox='0 0 162 187' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M99.4095 71.3947C71.1213 40.8507 33.3179 11.7816 37.1727 -29.6933C41.4394 -75.599 75.854 -115.359 118.419 -133.133C158.797 -149.994 206.035 -140.256 241.822 -115.149C271.947 -94.0141 272.823 -53.8756 282.141 -18.271C292.17 20.0508 318.521 60.8106 296.501 93.7792C273.539 128.159 224.991 133.432 183.931 128.768C148.318 124.723 123.751 97.6768 99.4095 71.3947Z' fill='%23FFFAD1' /%3E");
}